<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prance.teacher">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name="com.prance.lib.teacher.base.TeacherApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".features.main.MainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.login.LoginActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".features.welcome.WelcomeActivity"
            android:banner="@drawable/ic_launcher"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.check.CheckKeyPadActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.match.MatchKeyPadActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.classes.ClassesActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.students.StudentsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.replacekeypad.DeleteKeyPadActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.classes.ClassesDetailActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.afterclass.AfterClassActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.redpackage.RedPackageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.pk.PKActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.subject.SubjectActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ActivityTranslucent" />

        <activity
            android:name=".features.subject.SubjectRankActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".features.main.view.ExitActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".services.UpdateService"
            android:exported="false" />

        <!-- 设置IP测试入口 open close-->
        <meta-data
            android:name="TEST_SETTING"
            android:value="${TEST_SETTING}" />
        <!-- bugly -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${BUGLY_APPID}" />
        <!-- 渠道 -->
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL}" />
    </application>

</manifest>
