<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prance.teacher">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.prance.lib.teacher.base.TeacherApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".features.main.MainActivity"/>

        <activity android:name=".features.login.LoginActivity"
            android:banner="@drawable/ic_launcher"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:logo="@drawable/ic_launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.exit.ExitActivity"/>

        <!-- 设置IP测试入口 open close-->
        <meta-data
            android:name="TEST_SETTING"
            android:value="${TEST_SETTING}" />
        <!-- bugly -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${BUGLY_APPID}" />
        <!-- 渠道 -->
        <meta-data
            android:name="APP_CHANNEL"
            android:value="${APP_CHANNEL}" />
    </application>

</manifest>
