<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tengyue.teacher" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--获得ble权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.lanvote.sunvote.App"
        >
        <activity
            android:name="com.lanvote.sunvote.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lanvote.sunvote.ConfigSignin"
            android:label="Signin config"
            />
        <activity
            android:name="com.lanvote.sunvote.ConfigChoice"
            android:label="Choice config"  />
        <activity
            android:name="com.lanvote.sunvote.ConfigQuiz"
            android:label="Quiz config"/>
        <activity
            android:name="com.lanvote.sunvote.ConfigExam"
            android:label="Examination config" />
        <activity
            android:name="com.lanvote.sunvote.ConfigQuestion"
            android:label="Question config" />

        <activity
            android:name="com.lanvote.sunvote.Device"
            android:label="Devices"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service
            android:name="cn.sunars.sdk.RBLService"
            android:enabled="true" />

        <!-- 设置IP测试入口 open close-->
        <meta-data
            android:name="TEST_SETTING"
            android:value="${TEST_SETTING}"></meta-data>

        <!--  <service android:name="cn.sunars.sdk.SunARS"/>   -->
    </application>

</manifest>
